
@{
    ViewBag.Title = "AdminLanding";
}

<h2>Welcome Admin !</h2>
<hr />

<h4>COVID Combat Video Surveillance</h4>
<hr />
<div class="row">
    <div class="col-md-4" style="display:flex;width:100%">
        <iframe src="https://ibmhackathonblobstorage.blob.core.windows.net/demovideos/SocialDistance.mp4" style="height:350px;width:-webkit-fill-available;"></iframe>
    </div>
    <div class="col-md-4" style="display:flex;width:100%">
        <iframe src="https://ibmhackathonblobstorage.blob.core.windows.net/demovideos/NOfPeopleCrossingLimit.mp4" style="height:350px;width:-webkit-fill-available;"></iframe>
    </div>
    <div class="col-md-4" style="display:flex;width:100%">
        <iframe src="https://ibmhackathonblobstorage.blob.core.windows.net/demovideos/facemaskdetection.mp4" style="height:350px;width:-webkit-fill-available;"></iframe>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4" style="display:flex;width:100%;text-align: center;">
        <span style="width:-webkit-fill-available;">
            <h3>SOCIAL DISTANCE</h3>
        </span>
    </div>
    <div class="col-md-4" style="display:flex;width:100%;text-align: center;">
        <span style="width: -webkit-fill-available;">
            <h3>PEOPLE CROSSING LIMIT</h3>
        </span>
    </div>
    <div class="col-md-4" style="display:flex;width:100%;text-align: center;">
        <span style="width:-webkit-fill-available;">
            <h3>FACE MASK DETECTTION</h3>
        </span>
    </div>
</div>

